version: "3.8"

services:
  db:
    image: postgres:14
    container_name: postgres-db
    volumes:
      - ./docker/dataPostgresql:/var/lib/postgresql/data
      - ./docker/dataPostgresql/init.sql:/docker-entrypoint-initdb.d/init.sql:ro
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    ports:
      - "54321:5432"
    

